<div class="box">
	<h2>About the 19th MCU</h2>
	<p>The 19th Military Combat Unit is an ARMA 3 tactical realism group focused on teamwork. Formerly the 18th TR, the 19th MCU consists of a close-knit group of players who have been active in the milsim aspects of ARMA for over 2 years. The 19th MCU's mission is to provide a balanced style of serious and fun gameplay for public players and members alike.</p>
	<hr />
	<h3>Who are we?</h3>
	<p>The 19th MCU has been through a lot over the years. Originally starting out in ARMA 2, the 19th has always held itself to a high standard of tactical realism. Our ranking structure mimics that of the USMC, allowing us to manage our numbers effectively through fire team, squad, and platoon leaders. Our members are multinational, some with active or prior military experience. In game, we ensure that there is a line between realism and gameplay. You won't have to go around saluting every officer in base, nor will you have to be subject to feeling like the low man on the totem pole even if you are new to the unit. We work as a team in the 19th, with everyone's voice being heard on all clan decisions.</p>
	<p>While playing on our servers, you will find that we have a good balance between serious and silly. We set out on each operation in hope of victory. Mission time is go time, and we all put on our war faces (AHHHHHHHH!), but once the enemy is neutralized and the smoke has cleared in the AO, we are all about a good laugh.</p>
	<hr />
	<h3>What kinds of missions do we play?</h3>
	<p>All of our missions are custom made by our development team. Currently, we have 3 maps on rotation using an Insurgency system where the 19th has to hunt down enemy ammo caches on Takistan, Fallujah, and Chernarus in order to achieve victory. On Saturdays and Sundays we have boot camp training as well as PvP events for a break from COOP games. We encourage any member of the 19th to create their own missions to keep things fresh and fun.</p>
	<hr />
	<h3>What are the requirements to join?</h3>
	<p>The 19th is looking for mature, positive players who are willing to listen, learn, and improve. Every player recruited into the 19th undergoes an interview with our recruiters. You do not need to have any prior experience playing ARMA or being in a milsim unit. We aren't looking for robots who can score a million kills, we are looking for friends to play ARMA with. If you're interested in joining the 19th, <%= link_to "submit and application here.", main_app.new_user_registration_path %></p>
	<br />
	<p>Thank you for stopping by the 19th Military Combat Unit. You can always reach us on Teamspeak at ts.19thmcu.com if you have any questions or concerns. We look forward to clearing corners with you soon!</p>
</div>
<div class="box">
	<h2>Teamspeak Information & The 19th MCU Mod Pack via Arma3Sync:</h2>
	<h3><%= link_to "ts.19thmcu.org", "ts3server://ts.19thmcu.org", {class:'nolink'} %></h3>
	<p>We recently decided to go with a single 'Mod Pack' over the multiple's, in an effort to make it easier for members and also the general public, to obtain our mods we use for various servers.<br />The following mods are included in this pack:</p>
	<ul>
		<% mod_pack_getter.each do |i| %>
			<li><%= i %></li>
		<% end %>
	</ul>
	<hr />
	<div class="subbox-content">
		<h2>19th MCU ALiVE WAR-ROOM:</h2>
		<h3><%= link_to "http://www.alivemod.com/war-room/showorbat/398","http://www.alivemod.com/war-room/showorbat/398", {class:'nolink'} %></h3>
	</div>
	<hr />
	<div class="subbox-content">
		<h2>Arma3- VAS Pre-Loader</h2>
		<p>Load the .pbo in your ArmA3 Single Player Mission,<br />Launch, Set Load Outs, Re-Log.<br /> Once that is complete VAS will pre-load speeding the process versus the current issue! </p>
		<h3><%= link_to "http://www73.zippyshare.com/v/46435802/file.html","http://www73.zippyshare.com/v/46435802/file.html", {class:'nolink'} %></h3>
	</div>
	<hr />
	<div class="subbox-content">
		<h2>19th Squad XML</h2>
		<h3><%= link_to "https://dl.dropboxusercontent.com/u/57800677/arma3/squad.xml","https://dl.dropboxusercontent.com/u/57800677/arma3/squad.xml", {class:'nolink'} %></h3>
	</div>
</div>