<div class="box">
<h2>Admin Controls</h2>
<h3>Users</h3>
<ul>
<% @users.each do |u| %>
	<li><%= link_to u.full_name, user_path(u) %><% if u != current_user %> | <%= link_to "Edit", main_app.edit_user_path(u) %><% else %>- This is you!<% end %></li>
<% end %>
</ul>
<hr />
<h3>News Posts</h3>
<p><%= link_to "New News Post", main_app.new_news_path %></p>
<ul>
<% @news.each do |n| %>
	<li><%= link_to n.title, news_path(n) %> - <%= link_to "Edit", main_app.edit_news_path(n) %> | <%= link_to "Delete", main_app.news_path(n), method: :delete %></li>
<% end %>
</ul>
<hr />
<h3>Events</h3>
<p><%= link_to "New Event", main_app.new_event_path %></p>
<ul>
	<% @events.each do |e| %>
	<li><%= link_to e.title, event_path(e) %> - <%= link_to "Edit", main_app.edit_event_path(e) %> | <%= link_to "Delete", main_app.event_path(e), method: :delete %></li>
	<% end %>
</ul>
<hr />
<h3>Platoons</h3>
<p><%= link_to "New Platoon", main_app.new_platoon_path %></p>
<ul>
	<% @platoons.each do |p| %>
	<li><%= link_to p.name, platoon_path(p) %> - <%= link_to "Edit", main_app.edit_platoon_path(p) %></li>
	<% end %>
</ul>
<hr />
<h3>Squads</h3>
<p><%= link_to "New Squad", main_app.new_squad_path %></p>
<ul>
	<% @squads.each do |s| %>
	<li><%= link_to s.name, squad_path(s) %> - <%= link_to "Edit", main_app.edit_squad_path(s) %> | <%= link_to "Delete", main_app.squad_path(s), method: :delete %></li>
	<% end %>
</ul>
<hr />
<h3>Fireteams</h3>
<p><%= link_to "New Fireteam", main_app.new_fireteam_path %></p>
<ul>
	<% @fireteams.each do |f| %>
	<li><%= link_to f.name, fireteam_path(f) %> - <%= link_to "Edit", main_app.edit_fireteam_path(f) %> | <%= link_to "Delete", main_app.fireteam_path(f), method: :delete %></li>
	<% end %>
</ul>
</div>