<div id="header">
	<div id="navbar_left">
		<ul>
			<li><%= link_to "About", :about %></li>
			<li><%= link_to "Forums" %></li>
			<li><%= link_to "Events" %></li>
		</ul>
	</div>
	<div id="center_logo">
		<%= link_to "19th MCU", :root, {class:"nolink"} %>
	</div>
	<div id="navbar_right">
		<ul>
			<li><%= link_to "Join"  %></li>
			<li><%= link_to "Handbook" %></li>
			<li><%= link_to "Media" %></li>
		</ul>
	</div>
</div>