<div class="box">
  <h2>Events</h2>
  <span id="calendar">
    <p>Calendar goes here</p>
  </span>
  <div>
    <h2>Event listing</h2>
    <% @events.each do |event| %>
      <div class="event_box">
        <h3><%= event.title %></h3>
        <p><%= event.description %></p>
        <% if !event.date.nil? %>
          <p><%= event.date.strftime("%B %d, %Y, %l:%M %:z %Z") %>
        <% else %>
          <p>This event doesn't seem to have a date...</p>
        <% end %>
        <h4>Attending:</h4>
        <p>Attending helper goes here</p>
        <h4>Invited</h4>
        <p>Invited helper goes here</p>
        <% if bool_au? then %>
          <p><%= link_to "Edit", edit_event_path(event) %> | <%= link_to "Delete", delete_event_path(event) %></p>
        <% end %>
      </div>
      <hr />
    <% end %>
  </div>
</div>