<% if @news.empty? %>
	<p>No news to show.</p>
<% else %> 
	<% @news.each do |news| %>
	<div class="news-module">
		<h4><%= link_to news.title, news, {class:'nolink'} %></h4>
		<p>By <% if news.user.nil? or news.user.name.empty? %> Anon <% else %> news.user.name <% end %> at <%= news.created_at %></p>
		<p><%= news.text %></p>
		<% if user_signed_in? and current_user.admin? %>
		<p><%= link_to "Edit", edit_news_path(news) %><br />
		<%= link_to "Delete", news, method: :delete, data: { confirm: 'Are you sure?' } %></p>
		<% end %>
	</div>
	<% end %>
<% end %>