<!DOCTYPE html>
<html>
<head>
  <title><%= title_helper(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'shared/header' %>
	<% if !user_signed_in? %>
		<%= render 'shared/slider' %>
	<% end %>
	<div id="messages">
		<p class="notice"><%= notice %></p>
    	<p class="alert"><%= alert %></p>
	</div>
	<div id="body">
		<%= yield %>
	</div>
	<%= render 'shared/footer' %>
</body>
</html>
