<!DOCTYPE html>
<html>
<head>
  <title><%= title_helper(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'shared/header' %>
	<div id="messages" <% if !flash.empty? then %>class="box"<% end %>>
    	<% flash.each do |n, m| %>
    		<%= content_tag :p, m, class:n %>
    	<% end %>
	</div>
	<%= render 'shared/slider' %>
	<div id="body">
		<div id="left_sidebar">
			<%= render 'shared/user_box' %>
			<%= render 'shared/event_box' %>
			<%= render 'shared/server_info_box' %>
		</div>
		<div id="main_content">
			<%= yield %>
		</div>
	</div>
	<%= render 'shared/footer' %>
</body>
</html>
